<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SoundsLike - Almost There</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/public/css/results.css" type="text/css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
<% for(var i=0; i < finalResults.tracks.length; i++) { %>
  <div class="container-fluid results">
        <img src="<%= finalResults.tracks[i].album.images[0].url %>" alt ="">
        <div class="container">
          <p><%= finalResults.tracks[i].name %> </br>
            <%= finalResults.tracks[i].artists[0].name %></br>
            <%if (finalResults.tracks[i].preview_url == "") { %>
              No Preview Available
            <% } else { %>
              <audio controls>
                  <source src="<%= finalResults.tracks[i].preview_url%>" type = "audio/mp4">
              </audio>
            <% } %>
          </p>
        </div>

 </div>
<% } %>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
    $.ajax({
        url: '/finalres',
        type: "get",
        datatype: "json",
        success: function(response){
            console.log(response);

        }
    });
</script>

</html>
