<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>SoundsLike</title>

  <!-- Bootstrap -->
  <link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="/ion/css/ion.rangeSlider.css" type="text/css" rel="stylesheet">
  <link href="/ion/css/ion.rangeSlider.skinModern.css" type="text/css" rel="stylesheet">
  <link href="/public/css/app.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>SoundsLike Webapp</h1></br>
    <p>Type a track name exactly and click on "Search". The application will then load more options before the final suggestion.</p></br>
    <form id="search-form">
      <input type="text" id="query" value="" class="form-control" placeholder="Type an Track Name, artist(optional)" /></br>
      <input type="submit" id="search" class="btn btn-primary" value="Search" />
    </form>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/typeahead/typeahead.bundle.min.js"></script>
  <script src="/public/js/SoundsLike.js"></script>
  <!-- <script src="/public/js/sliders.js"></script> -->



</body>

</html>